<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />  
    <title>Good Things Foundation digital services mapping</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js" type="text/javascript"></script>
    <script src="ext/raphael.js" type="text/javascript"></script>
    <script src="ext/jquery.js" type="text/javascript"></script>
    <script src="js/sankey.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" type="text/javascript"></script> 
    <script src="js/app.js" type="text/javascript"></script>    
		<link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/style.css">

    <meta name="robots" content="noindex">
  </head>
  
  <body ng-app="digitalServicesMapping" ng-controller="digitalServicesMappingCtrl" ng-cloak>
    <div class="padding-top padding-left padding-right">
      <h1 class="align-center">Good Things Foundation digital services mapping</h1>
      <hr>
      <div class="row">
        <div class="columns medium-12 large-3">
          <h2>Filters</h2>
          <hr>
          <div ng-repeat="columnHeading in columnHeadings track by $index">
              <h3>{{ columnHeading }}</h3>
              <ul class="no-style-list">
                <li ng-repeat="item in deDupArrays[$index]">
                  <label class="normal-weight" for="{{item}}"><input type="checkbox" class="margin-right--small" id="{{item}}" ng-model="filters[columnHeading][item]" ng-change="filterData(item, filters[columnHeading][item], columnHeading)" ng-init="filters[columnHeading][item] = false"checked>{{ item }}</label>
                </li>
              </ul>
              <hr>
          </div>
        </div>

        <div class="columns medium-12 large-9">
          <div id="sankey" class="sankey">
            &nbsp;
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
